body {
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;*/
}

.section {
    width: 20%;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;



    display: flex;
    justify-content: center;
    align-items: center;
}

.section:hover{
    border: 1px solid #000;
    cursor: pointer;
}