.sidebar {
    position: fixed;
    top: 56px; /* Adjust to match the height of the navbar */
    left: 0;
    width: 16.666%; /* Matches Bootstrap's col-2 width */
    height: calc(100vh - 56px); /* Full height minus navbar height */
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}